.namespace-title {
    padding-bottom: 20px;
}

#namespaces {
    overflow-y: auto !important;
    height: 68vh;
}

#types {
	overflow-y: auto !important;
	height: 63vh;
}

#type-details-body {
	overflow-y: auto !important;
	height: 58vh;
}

.indent-1 {
	margin-left: 20px;
}