.namespace-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

#namespaces {
    overflow-y: auto !important;
    height: 80%;
}

#types {
    overflow-y: auto !important;
    height: 80%;
}

.indent-1 {
	margin-left: 20px;
}