.splash {
    text-align: center;
    margin: 10% 0 0 0;
    height: 100vh;
}

    .splash .message {
        font-size: 5em;
        line-height: 1.5em;
        -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
        text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
        text-transform: uppercase;
    }

    .splash .fa-spinner {
        text-align: center;
        display: inline-block;
        font-size: 5em;
        margin-top: 50px;
    }
