@using Extenso.AspNetCore.Mvc.Rendering
@model IEnumerable<PersonModel>

@{
    ViewData["Title"] = "Home Page";
}

@Html.Table(Model, new { @class = "table" })

<hr />

<form>
    <div class="form-group">
        <label>Cultures</label>
        @Html.CulturesDropDownList("Cultures", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Time Zones</label>
        @Html.TimeZonesDropDownList("TimeZones", htmlAttributes: new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>CheckBox List</label>
        @Html.CheckBoxList(
            "DaysOfWeek",
            Html.GetEnumSelectList<DayOfWeek>(),
            null,
            new { @class = "form-check-label" },
            new { @class = "form-check-input" },
            inputInsideLabel: true,
            wrapInDiv: true,
            wrapperHtmlAttributes: new { @class = "form-check" })
    </div>
</form>