<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExtensoUI Demo - Foundation 6</title>

    <link rel="stylesheet" href="~/lib/foundation-sites/dist/css/foundation.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="grid-container">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">Site Title</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                <h1>Welcome to Foundation</h1>
            </div>
        </div>

        <div class="grid-x grid-padding-x">
            <div class="large-12 cell">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/foundation-sites/dist/js/foundation.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>