@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ExtensoUI Demos</h1>
</div>

<ul class="list-group">
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Bootstrap3">Bootstrap 3</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Bootstrap4">Bootstrap 4</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Bootstrap5">Bootstrap 5</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Foundation6">Foundation 6</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="JQueryUI">JQuery UI</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="KendoBootstrap3">Kendo/Bootstrap 3</a>
    </li>
</ul>