@{
    ViewData["Title"] = "Home Page";
}

<p>Click the "OData Demo" link in the nav bar to view a fully working CRUD demo, based on KendoGrid, OData and KnockoutJS</p>

<p>To see the same thing in Aurelia, <a href="https://github.com/gordon-matt/aurelia-razor-netcore2-skeleton" target="_blank">click here</a></p>